h1 {
    font-size: 32px;
}
#calendar {
    margin: 1em;
}
.calendar_nav__current {
    display: flex;
    flex-wrap: wrap;
    font-size: 32px;
}
.calendar_nav__current-month,
.calendar_nav__current-date {
    margin-right: 1em;
}
.arrow {
    display: inline-block;
    margin-left: 8px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top: 2px solid gray;
    border-left: 2px solid gray;
    transition: all .4s ease;
    text-decoration: none;
    color: transparent;
    cursor: pointer;
    vertical-align: middle;
}
.arrow-right {
    position: relative;
    transform: rotate(135deg);
    right: 8px;
}
.arrow-left {
    transform: rotate(-45deg);
    left: 0;
}
.arrow-up {
    transform: rotate(45deg);
    left: 175px;
}
.arrow-down {
    transform: rotate(-135deg);
    right: 175px;
}


.badger-accordion__panel {
    max-height: 75vh;
    overflow: hidden;
}

.badger-accordion__panel.-ba-is-hidden {
    max-height: 0 !important;
    visibility: hidden;
}

.badger-accordion--initialized .badger-accordion__panel {
    transition: all ease-in-out 0.2s;
}

.form-group label {
    display: block;
}

.form-group input {
    display: block;
    border: 1px solid #000000;
    border-radius: 5px;
}

